<hr>
    <div class="side flex flex-col items-center" id="about">
    <h4>About Me</h4>
    <h4>Saloni Robinson</h4>
    <div class="circle-landscape">
        <img class="rounded-image" src="https://res.cloudinary.com/saloni/image/upload/v1565365360/saloni2_mkragm.jpg" alt="">
    </div>
    <h4>Self-taught full stack web developer</h4>

    <p>I've recently completed a web developer bootcamp and my final project included making this website using node.js and express.</p>
    <p>For my final project I wanted to take inspiration from my upcoming trip to Japan and write about what I plan to do when I am out there. I designed a blog app using node.js and mongodb to show blog posts, with the ability to create, edit and delete posts and add comments. I added authentication so that only the user who writes a particular post or comment can edit it.  </p>

    <p>I am looking to become a full-time developer so at the moment you can find me volunteering at a web development company and learning new technical skills in my spare time. Please get in touch to find out more! </p>
    <!-- <p>Hello! I love to learn new skills and after a very expensive crocheting phase I found out about coding. A friend mentioned a free HTML/CSS course on Codecademy and I thought it was a good opportunity to learn something new.</p> -->
</div>


