<% include ./partials/header %>




<!-- VUE MODAL -->
<div class="flex flex-col items-center">

          <h1 class="font-bold text-2xl text-gray-900 my-8 ">Sign Up</h1>
          <p class="mb-6">Click on the button below to sign-up.<br>
          If you are an existing member login in here.</p>
          
          <button
               class="bg-blue-600 text-white px-4 py-2 text-sm uppercase tracking-wide font-bold rounded-lg"
               v-on:click="exampleModalShowing = true"
          >
               Sign Up
          </button>
          <card-modal v-bind:showing="exampleModalShowing" v-on:close="exampleModalShowing = false">
               <form action="/register" method="POST">
                    <div class="form-group">
                         <label>Username:</label>
                         <input type="text" name="username" placeholder="username">
                    </div>
                    <div class="form-group">
                         <label>Password:</label>
                         <input type="password" name="password" placeholder="password">
                    </div>
                    
                    <button
                    class="bg-blue-400 text-white px-4 py-2 text-sm uppercase tracking-wide font-bold rounded-lg"
                  >
                    Sign Up
                  </button>
                    <button
                    class="bg-red-400 text-white px-4 py-2 text-sm uppercase tracking-wide font-bold rounded-lg"
                    @click="exampleModalShowing = false"
                  >
                    Cancel
                  </button>
               </form>
           </card-modal>
          
</div>




<% include ./partials/footer %>