

hr {
  display:none;
}

@media (max-width: 800px) {

  hr {
    display: block;
  }

}

.circle-landscape{
  width: 200px;
  height: 200px;
  margin-bottom: -50%;
}




// POST



.card-title {
  @apply text-xl font-normal;
}


// Cards
  

  .cards {

    @apply flex flex-wrap px-2;
  }

  
  .cards-item {
    @apply flex p-2 ;

  }

  @screen sm {
    .cards-item {
      @apply w-full;
    }
  }
  @screen md {
    .cards-item {
      @apply w-1/2;
    }
  }

  @screen lg {
    .cards-item {
      @apply w-1/3;
    }
  }
  
  .cardv3 {

    border-radius: 5px;
    box-shadow: 0 15px 35px 0 rgba(42,51,83,.12), 0 5px 15px rgba(0,0,0,.06);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &:hover {
      box-shadow: 0 15px 45px 0 rgba(42, 51, 83, 0.12), 0 5px 15px rgba(0, 0, 0, 0.06);
      transform:translate(0,-2px);
      transition: all .15s ease;
    }

  }
  
  .card-content {
    display: flex;
    flex: 2 1 auto;
    flex-direction: column;
    padding: 1rem;
    justify-content: space-between;
  }
  
  
  .card__text {
    flex: 1 3 auto;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;
  }
  
// COMMENTS



.comment {
  @apply list-none flex flex-col justify-start p-5 ;
  hr {
    display: block;
    width: 100%;
  }
}

.comment-buttons {
  flex: 10%;
}

.author {
  @apply text-sm  tracking-wide text-gray-700;


}

span.date, .post-author{
  font-size: 11px;
  font-style: italic;
  margin-bottom: 6px;
  color: #999;
}

.form-group {
  @apply w-full;
}