h1 {
    @apply text-2xl;
}

hr {
	width: 50%;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
	margin: 10px auto;

}





input {
    @apply text-gray-900 bg-white rounded-full text-center p-4;
    padding: 10px;

}



input:focus{
    outline: none;
}


::placeholder{
    color: rgba(0,0,0,0.2);
    
}
